* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
button {
    font-weight: 300;
    text-transform: uppercase;
}

h2,
h3,
button {
	font-size: 30px;
	color: #cf6d17;
}

header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bg1.jpg);
	background-size: cover;
	height: 100vh;
    background-position: center;
    background-attachment: fixed;
}
h1 {
	font-size: 20;

}
/*
#logo {
	height: 50px;
}*/

h2 {
	text-align: center;
}

.line:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;}

span {
	color: #cf6d17;
}
button{
	background-color: #cf6d17;

}
.header-section {
	color: white;
	padding-top: 150px;
	text-align: center;

}
.icons {
	
	margin-bottom:  15px;

}
i {
	font-size: 20px;
	color: black;
	margin: 10px;
}
i:hover {
	color: white;
}

.box {
	padding-top: 50px;
}

#profile-picture {
	background-image: url("../images/rochelle.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
	border-radius: 50px;
	border: 2px solid black;
}



#active {
	color: white;
}

#btn-portfolio {
	text-decoration: none;
	color: white;
}
#map {
	padding: 60px;
}

.tech-stack {
	height: 100px;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

}
#html {
	background-image: url("../images/html.png");
}
#css {
	background-image: url("../images/css.png");
}
#js {
	background-image: url("../images/js.png");
}

#gitlab {
	background-image: url("../images/gitlab.png");
}
#gitlab {
	background-image: url("../images/gitlab.png");
}
#google {
	background-image: url("../images/google.jpeg");
}


#work-button {
	margin: 20px;
}
nav {
	background-color: #cf6d17;
	text-transform: uppercase;


}

footer {

	text-align:  center;
}

/*.header-section p {

}
*/


.btn-full:hover,
.btn-full:active {
    
     box-shadow: 5px 5px white;

}

/**/
.portfolio-list {
	background-color: #cf6d17;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	text-align: 	center;	
}




/**/

	.activity:link, .activity:visited {

  color: white;
   text-transform: uppercase;
  text-align: center;
  text-decoration: none;

}

/**/
.portfolio-list:hover,
.portfolio-list:active {
  box-shadow: 5px 10px #888888;
	margin: 10px;
   
}
/**/

#git {
	background-image: url("../images/activity4.png");

}
.gmap {
	width: 100%;
}
.mapwrap {
	max-width: 700%;
}
